* 
	{

		box-sizing: border-box;
	}


form {

	width: 450px;
	max-width: 90%;
	margin: 0 auto;
}


input {

	display: block;
	padding: 15px 0px;
	width: 100%;
	outline: none;
	border: none;
	text-indent: 10px;
	margin-bottom: 15px;
}

.title {

	text-align: center;
	font-size: 30px;
}